<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Community Manage System</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <link href="/libs/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/libs/fontawesome/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="/libs/bootstrap-dialog/bootstrap-dialog.min.css" rel="stylesheet" type="text/css"/>
  <link href="/libs/adminlte/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
  <link href="/libs/adminlte/skin-blue-light.min.css" rel="stylesheet" type="text/css"/>
  <%- stylesheets %>
  <script src="/libs/html5shiv.js"></script>
  <script src="/libs/respond.min.js"></script>
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini"><b>CMS</b></span>
      <span class="logo-lg"><b>CMS</b>ADMIN</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <ul class="nav navbar-nav">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/logout">
            退出&nbsp<i class="fa fa-sign-out"></i>&nbsp;&nbsp;
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="active treeview">
          <a href="/home">
            <i class="fa fa-dashboard"></i>
            <span>面板</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-home"></i>
            <span>住房管理</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/house/list/page"><i class="fa fa-circle-o"></i>房屋列表</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>小区人员管理</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/persons/list/page"><i class="fa fa-circle-o"></i>小区人员列表</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-usd"></i>
            <span>缴费管理</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/property/list/page"><i class="fa fa-circle-o"></i>物业费管理</a></li>
            <li><a href="/elec/list/page"><i class="fa fa-circle-o"></i>水电费管理</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header" id="home">
      <h1>
        <%- blocks.title %>
        <small><%- blocks.desc %></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i> 首页</a></li>
        <%- blocks.crumbs %>
      </ol>
    </section>
    <section class="content">
      <%- body %>
    </section>
  </div>
</div>
<script src="/libs/jquery-2.1.1.min.js"></script>
<script src="/libs/bootstrap/bootstrap.min.js"></script>
<script src="/libs/bootstrap-dialog/bootstrap-dialog.min.js"></script>
<script src="/libs/moment-locales.min.js"></script>
<script src="/libs/adminlte/AdminLTE.min.js"></script>
<script src="/libs/ejs.js"></script>
<script src="/libs/ejs-helper.js"></script>
<script src="/app/app.js"></script>
<%- scripts %>
</body>
</html>
