<% userList.forEach(function (user, index) { %>
<tr>
  <td>
    <%= index + 1 %>
  </td>
  <td>
    <%= user.username %>
  </td>
  <td>
    <% if (user.house) { %>
    <%= user.house.detailAdd %>
    <% } else { %>
    <%= '暂未绑定' %>
    <% } %>
  </td>
  <td>
    <% if (user.role == 1) { %>
    <%= '管理员' %>
    <% } else { %>
    <%= '普通用户' %>
    <% } %>
  </td>
  <td>
    <input type="hidden" data="<%= user.username %>">
    <button class="btn btn-primary btn-reset btn-xs">重置密码</button>
  </td>
</tr>
<% }); %>
